<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
</head>
<body>
  {% include "partials/header.njk" %}

  <main>
    {{ content }}
  </main>

  {% include "partials/footer.njk" %}
</body>
</html>
